<h1> <%= @user.name %>

<h1> List of Recipes </h1>
<ul>
<% @user.recipes.each do |recipe| %>
<li> <%= link_to recipe.name, recipe_path(recipe) %> </li>
<%end%>
</ul>
<div>
<%= link_to "Delete User", user_path(@user.id), :method => "DELETE", data: {confirm: "Are you sure?"} %>
</div>