<h1> <%= @user.name %>

<h1> List of Recipes </h1>
<ul>
<% @user.recipes.each do |recipe| %>
<li> <%= link_to recipe.name, recipe_path(recipe) %> </li>
<%end%>
</ul>
<div>
<%= button_to "Delete User", user_path(@user.id), :method => :delete %>
</div>